
.vs/gameBK/FileContentIndex/00e7ffbc-9268-4bc0-9659-8a35ef8edae3.vsidx
.vs/gameBK/FileContentIndex/1166c8a2-73d5-43aa-bb7e-175b7e9d00bb.vsidx
.vs/gameBK/FileContentIndex/43ac7036-aa61-4593-831c-48655672dc9d.vsidx
.vs/gameBK/FileContentIndex/f445541f-ff30-4731-b3e6-da1b0b912472.vsidx
.vs/gameBK/FileContentIndex/read.lock
.vs/gameBK/v17/Browse.VC.db
.vs/gameBK/v17/Browse.VC.db-shm
.vs/gameBK/v17/Browse.VC.db-wal
.vs/gameBK/v17/Browse.VC.opendb
.vs/gameBK/v17/ipch/AutoPCH/15596c1c4ad2c40c/CHECK_SPAWN.ipch
.vs/gameBK/v17/ipch/AutoPCH/a0af097c04204516/MAP.ipch
.vs/gameBK/v17/ipch/AutoPCH/ef9ebbca895913d7/MAIN.ipch
.vs/gameBK/FileContentIndex/4058f424-0c3b-43cf-8552-e5a385de21e6.vsidx
.vs/gameBK/FileContentIndex/6ef4c9d1-c796-4ae9-b7a1-5559f3ce19b6.vsidx
.vs/gameBK/FileContentIndex/6ef4c9d1-c796-4ae9-b7a1-5559f3ce19b6.vsidx
.vs/gameBK/FileContentIndex/6ef4c9d1-c796-4ae9-b7a1-5559f3ce19b6.vsidx
